<!doctype html>
<html ng-app="scheduleApp" ng-strict-di>
    <head>
        <script src="../node_modules/angular/angular.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <aside ng-controller="SelectionController as selection">
            <p>Url: {{selection.current.getUrl()}}</p>
            <ul>
                <li ng-repeat="id in selection.ids">
                    <a href="" ng-click="selection.current.setId(id)">{{id}}</a>
                </li>
            </ul>
        </aside>
    </body>
</html>
