<!doctype html>
<html ng-app="scheduleApp" ng-strict-di>
    <head>
        <script src="../node_modules/angular/angular.js"></script>
        <script src="index.js"></script>
    </head>
    <body>
        <aside ng-controller="SelectionController as selection">
            <ul>
                <li ng-repeat="id in selection.ids">
                    <a href="" ng-click="selection.current.setId(id)">{{id}}</a>
                </li>
            </ul>
        </aside>
        <div ng-controller="ScheduleController as schedule">
            <img ng-attr-src="{{schedule.current.getUrl()}}" alt="Kan inte visa schema">
        </div>
    </body>
</html>
